{{#if isCreateFormShow}}
	<div>
		<form>
			<div class="form-group">	
				<label for="title">Title</label>
				{{input value=title id="title"}}
			</div>
			<div>
				<label for="author">Author</label>
				{{input value=author id="author"}}
			</div>
			<div>
				<label for="query">Query</label>
				{{input value=query id="query"}}
			</div>
			<div>
				<label for="notes">Notes</label>
				{{input value=notes id="notes"}}
			</div>
			<button{{action 'submit'}}>Submit</button>
			<button{{action 'cancel'}}>Cancel</button>
		</form>

	</div>
{{else}}
	<button{{action 'createQFormShow'}}>Create Question</button>
{{/if}}